$btn_grande: 100%;
$btn_mediano: 110px;
$btn_pequeño: 70px; 
$btn_heigth: 30px;
$btn_centrar: 0px;
$btn_width:300px;
$border_btn: 2px;
$mg_boton:40px;
$font_wei_btn: 700;
$transicion:.3s;
$heigth: 60px;
$Cero: 0;
$bg_size:300%;
$border_r_btn: 15px;
$porcentaje: 10%;
$Home: 150px;
$Home_borde: 2px;
$Home-altura:60px;
$tarjetas:20;
$btn_heigth_large: 50px;
$mg_boton2:50px;