%margin_small{
  margin: 3%;
@media (max-width: 768px) {
    margin: 1%;
  }
  @media (max-width: 480px) {
    margin: 0%;
  }
}
%margin_medium{
  margin: 5%;
@media (max-width: 768px) {
    margin: 3%;
  }
  @media (max-width: 480px) {
    margin: 0%;
  }
}
%margin_largue{
  margin: 7%;
@media (max-width: 768px) {
    margin: 5%;
  }
  @media (max-width: 480px) {
    margin: 0%;
  }
}