%paddding_peque{
  padding: 10%;
     @media (max-width: 768px) {

        padding: 5%;
      }
    
  
      @media (max-width: 480px) {
        padding: 2%;
      }
}
%paddding_med{
  padding: 15%;
     @media (max-width: 768px) {

        padding: 10%;
      }
    
  
      @media (max-width: 480px) {
        padding: 5%;
      }
}
%paddding_grand{
  padding: 25%;
     @media (max-width: 768px) {

        padding: 15%;
      }
    
  
      @media (max-width: 480px) {
        padding: 10%;
      }
}