$items-center: center;
$items-end: flex-end;
$items-start: flex-start;
$items-left: left;
$items-rigth: right;
$items-spaceAround: space-around; //espacio igual en todos lados
$items-spaceBetween: space-between; //el primero y ultimo se alinean al inicio y al final.
$items-spaceEvenly: space-evenly; //todos tienen el mismo tamaño de espacio entremedio
$items-justify: justify;



