
//Container A (Disposicion doble)
$altura-partA: 100vh; 
$altura-partB: auto;
$display-A: grid;
$columns-A: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr;
$rows-A: auto;
$areas-A:
 "Part-A Part-B Part-B Part-B";
$gap-A: 5px;
$parte-Izq: Part-A;
$parte-Der: Part-B;


//Container B (35%) apto para tarjetas (cards)
$altura-B: auto;
$display-B: flex;
$ancho-B: 35%;
$flex-wrap-B: wrap;

//Container C (flex 100%) apto para introducir varios contenedores seguidos y anidados sin saltos
$altura-C: auto;
$display-C: flex;
$flex-wrap-C: wrap;
$ancho-C: 100%;
$gap-C: 5px;

//container D 100% no flex (block)
$altura-D: auto;
$display-D: block;
$ancho-D: 100%;
$gap-D: 5px;


//contenedor snippets
$altura-partA-S: 100%; 
$altura-partB-S: 95%;
$ancho-partA-S: 60%;
$ancho-partB-S: 60%;
$display-S: grid;
$columns-S: [col1] 1fr;
$rows-S: auto;
$areas-S:
 "Part-A-S part-A-S"
 "Part-B-S part-B-S";
$parte-Arriba-S: Part-A-S;
$parte-Abajo-S: Part-B-S;

$altura-E: auto;
$display-E: flex;
$ancho-E: 20%;
$flex-wrap-E: wrap;