
//Container A (Disposicion doble)
$altura-partA: 100vh; 
$altura-partB: auto;
$display-A: grid;
$columns-A: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr;
$rows-A: auto;
$areas-A:
 "Part-A Part-B Part-B Part-B";
$gap-A: 5px;
$parte-Izq: Part-A;
$parte-Der: Part-B;


//Container B (35%) apto para tarjetas (cards)
$altura-B: auto;
$display-B: flex;
$ancho-B: 35%;
$flex-wrap-B: wrap;

//Container C (flex 100%) apto para introducir varios contenedores seguidos y anidados sin saltos
$altura-C: auto;
$display-C: flex;
$flex-wrap-C: wrap;
$ancho-C: 100%;
$gap-C: 5px;

//container D 100% no flex (block)
$altura-D: auto;
$display-D: block;
$ancho-D: 100%;
$gap-D: 5px;

//container snippets
$altura-S: auto;
$display-S: flex;
$ancho-S: 100%;
$overflow-S: auto;