$dark-enfasis: #222236; //colores oscuros
$light-enfasis: #e6f6f6; //colores claros
$basic-enfasis: #ffffff; //basicamente el blanco
$transparent-enfasis: #00000000; //transparente para fondos sin color, etc
$beige-enfasis: #fbdcad;
$gray-enfasis: #4a4645;
$sky-enfasis: #556b76;
$sunset-enfasis: #c8a48c;
$deep-enfasis: #294457;
$mars-enfasis: #bc8475;
$marine: #20E2D7;
$desert: #ffe359;
$orange: #fc7209;
$fondo: #9d70a0;