%sombra_res{
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  

    @media (max-width: 480px) {
      box-shadow: none;
    }
}

%sombra_suave {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


%sombra_media {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


%sombra_fuerte {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
