@use 'principal-fonts'; 
@use 'principal-colors';
@use 'principal-types-text';
@use 'principal-sizes';
@use 'principal-containers';
@use 'principal-Alignments';
@use 'shadows' ;
@use 'border' ;
@use 'padding' ;
@use 'margin' ;
@use 'botones';
@use 'principal-alineamientos';
@use 'principal-dimensiones';
@use 'principal-padding';

//tipografia
//gogogogo
.title-font {
    font-family: principal-fonts.$title-font;
}
.zone-font {
    font-family: principal-fonts.$zone-font;
}

.cmp-font{
    font-family: principal-fonts.$cmp-font;
}

.pf-font{
    font-family: principal-fonts.$pf-font;
}

.deco-font{
    font-family: principal-fonts.$deco-font;
}

//colores

.color-dark{
    color: principal-colors.$dark-enfasis;
}

.color-light{
    color: principal-colors.$light-enfasis;
}

.color-beige{
    color: principal-colors.$beige-enfasis;
}

.color-basic{
    color: principal-colors.$basic-enfasis;
}

.color-gray{
    color: principal-colors.$gray-enfasis;
}

.color-sky{
    color: principal-colors.$sky-enfasis;
}

.color-sunset{
    color: principal-colors.$sunset-enfasis;
}

.color-deep{
    color: principal-colors.$deep-enfasis;
}

.color-mars{
    color: principal-colors.$mars-enfasis;
}

.color-marine{
  color: principal-colors.$marine;
}

.color-desert{
  color: principal-colors.$desert;
}

.color-crimson{
  color:principal-colors.$crimson;
}




//fondos

.bkg-dark{
    background-color: principal-colors.$dark-enfasis;
}

.bkg-light{
    background-color: principal-colors.$light-enfasis;
}

.bkg-basic{
    background-color: principal-colors.$basic-enfasis;
}

.bkg-beige{
    background-color: principal-colors.$beige-enfasis;
}

.bkg-gray{
    background-color: principal-colors.$gray-enfasis;
}

.bkg-sky{
    background-color: principal-colors.$sky-enfasis;
}

.bkg-sunset{
    background-color: principal-colors.$sunset-enfasis;
}

.bkg-mars{
    background-color: principal-colors.$mars-enfasis;
}

.bkg-basic{
    background-color: principal-colors.$basic-enfasis;
}

.bkg-desert{
  background-color: principal-colors.$desert;
}

.bkg-marine{
  background-color: principal-colors.$marine;
}

.bkg-crimson{
  background-color: principal-colors.$crimson;
}

.bkg-blur{
    background-color: principal-colors.$transparent-enfasis;
    backdrop-filter: blur(20px);
    border: 1.5px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}




img{
  width: 100%;
  height: auto;
}

.bkg-img-fondo{
  background-image: url('Resources/fondo-1.png');
  background-size: contain;
  background-attachment: fixed;
}





//tipos de texto

.txt-italic{
    font-style: principal-types-text.$text-italic;
}

.txt-sub{
    text-decoration: principal-types-text.$text-sub;
}

.txt-dead{
    text-decoration: principal-types-text.$text-dead;
}

.txt-bold{
    font-weight: principal-types-text.$text-bold;
}


//tamaños de letra

.txt-xsmall{
    font-size: principal-sizes.$txt-xsmall;
}


.txt-small{
    font-size: principal-sizes.$txt-small;
}

@media(max-width:560px){
  .txt-small{
    font-size: 7px;
  }
}


.txt-xsmedium{
  font-size: principal-sizes.$txt-xsmedium;
}

@media(max-width:560px){
  .txt-xsmedium{
    font-size: 8px;
  }
}

.txt-smedium{
  font-size: principal-sizes.$txt-smedium;
}

@media(max-width:560px){
  .txt-smedium{
    font-size: 10px;
  }
}

.txt-xmedium{
    font-size: principal-sizes.$txt-xmedium;
}

@media(max-width:560px){
  .txt-xmedium{
    font-size: 14px;
  }
}

.txt-medium{
    font-size: principal-sizes.$txt-medium;
}

@media(max-width:560px){
  .txt-medium{
    font-size: 18px;
  }
}

.txt-large{
    font-size: principal-sizes.$txt-large;
}

@media(max-width:560px){
  .txt-large{
    font-size: 23px;
  }
}

.txt-bigger{
    font-size: principal-sizes.$txt-bigger;
}

@media(max-width:560px){
  .txt-bigger{
    font-size: 40px;
  }

  .container-A .txt-bigger{
    font-size: 30px;
  }
}



@media(max-width:560px){
  p{
    font-size: 11px;
  }
}

@media(max-width:720px){
  p{
    font-size: 14.5px;
  }
}

@media (max-width: 560px) {
  p:not(.txt-xsmall):not(.txt-small):not(.txt-xsmedium):not(.txt-smedium):not(.txt-xmedium):not(.txt-medium):not(.txt-large):not(.txt-bigger) {
    font-size: 11px;
  }
}

@media (max-width: 720px) {
  p:not(.txt-xsmall):not(.txt-small):not(.txt-xsmedium):not(.txt-smedium):not(.txt-xmedium):not(.txt-medium):not(.txt-large):not(.txt-bigger) {
    font-size: 14.5px;
  }
}


@media(max-width:560px){
  h1{
    font-size: 16px;
  }
}

@media(max-width:560px){
  h2{
    font-size: 14px;
  }
}

@media(max-width:560px){
  h3{
    font-size: 11px;
  }
}

@media(max-width:560px){
  h4{
    font-size: 9px;
  }
}

@media(max-width:560px){
  h5{
    font-size: 7px;
  }
}

@media(max-width:560px){
  h6{
    font-size: 5px;
  }
}

@media(max-width:560px){
  button{
    font-size: 10px;
  }
}


ol{
  padding: padding.$padding;
  list-style-type: none;
}

//contenedores


//contenedor 1 (Marte - Tierra)
//****************************************************************
.container-A {
    height: principal-containers.$altura-partB;
    display: principal-containers.$display-A;
    grid-template-columns: principal-containers.$columns-A;
    grid-template-rows: principal-containers.$rows-A;
    grid-template-areas: principal-containers.$areas-A;
    gap: principal-containers.$gap-A;
}

@media(max-width:560px){
  .container-A .pf-font{
    font-size: 10px;
  }
  p:not(.txt-xsmall):not(.txt-small):not(.txt-xsmedium):not(.txt-smedium):not(.txt-xmedium):not(.txt-medium):not(.txt-large):not(.txt-bigger) {
    font-size: 10px;
  }

}



.Lado-Izquierdo {
  grid-area: principal-containers.$parte-Izq;
  justify-content: principal-Alignments.$items-center;
  align-items: principal-Alignments.$items-center;
  height: principal-containers.$altura-partA;
  position: sticky;
  top: 0; 
  overflow-y: auto;

}


.Lado-Derecho {
    grid-area: principal-containers.$parte-Der;
    justify-content:principal-Alignments.$items-center; // ajusta el contenido al centro horizontalmente
    align-items: principal-Alignments.$items-center; // ajusta el contenido al centro verticalmente
    text-align: principal-Alignments.$items-center;
    flex-wrap: wrap;
    overflow-y: auto;
    height: principal-containers.$altura-partB;
    box-sizing: border-box;
    position: sticky;
}

.Lado-Izquierdo::-webkit-scrollbar{
  background-color: principal-colors.$dark-enfasis;
}

.Lado-Izquierdo::-webkit-scrollbar-thumb{
  background-color: principal-colors.$light-enfasis;
  border-radius: 15px;
  border: 1px solid black;
}

body::-webkit-scrollbar{
  background-color: principal-colors.$dark-enfasis;
}

body::-webkit-scrollbar-thumb{
  background-color: principal-colors.$light-enfasis;
  border-radius: 15px;
  border: 1px solid black;
}


//*****************************************************************

//Contenedor B

.container-B{
    height: principal-containers.$altura-B;
    display: principal-containers.$display-B;
    width: principal-containers.$ancho-B;
    flex-wrap: principal-containers.$flex-wrap-B;
}


//contenedor C

.container-C{
    height: principal-containers.$altura-C;
    display: principal-containers.$display-C;
    flex-wrap: principal-containers.$flex-wrap-C;
    gap: principal-containers.$gap-C;
    width: principal-containers.$ancho-C;
}

.container-D{
  height: principal-containers.$altura-D;
  display: principal-containers.$display-D;
  gap: principal-containers.$gap-D;
  width: principal-containers.$ancho-D;
}


.container-t{
  height: principal-containers.$altura-B;
  display: principal-containers.$display-B;
  width: 30%;
  flex-wrap: principal-containers.$flex-wrap-B;
}

//contenedor para snippets **********
.container-S{
    height: principal-containers.$altura-partB-S;
    width: principal-containers.$ancho-partB-S;;
    display: principal-containers.$display-S;
    grid-template-columns: principal-containers.$columns-S;
    grid-template-rows: principal-containers.$rows-S;
    grid-template-areas: principal-containers.$areas-S;
    overflow: auto;
    justify-content: principal-Alignments.$items-left;
    align-items: principal-Alignments.$items-left;
    text-align: principal-Alignments.$items-left;
}

.Lado-Arriba-S{
    grid-area: principal-containers.$parte-Arriba-S;
    height: principal-containers.$altura-partA-S;
    background-color: principal-colors.$gray-enfasis;
    font-family: principal-fonts.$title-font;
    font-weight: principal-types-text.$text-bold;
    font-size: principal-sizes.$txt-smedium;
    color: principal-colors.$basic-enfasis;
    text-align: principal-Alignments.$items-left;
    padding: 10px;
    position: sticky;
    top: 0;
}

.Lado-Abajo-S{
    grid-area: principal-containers.$parte-Abajo-S;
    text-align: principal-Alignments.$items-rigth;
    overflow-x: auto;
    height: principal-containers.$altura-partB-S;
    background-color: principal-colors.$snippets;
    color: principal-colors.$basic-enfasis;
    font-family: principal-fonts.$pf-font;
    font-size: principal-sizes.$txt-small;
    padding: 10px;
}
//*************************************


.container-E{
  height: principal-containers.$altura-E;
  display: principal-containers.$display-E;
  width: principal-containers.$ancho-E;
  flex-wrap: principal-containers.$flex-wrap-E;
}

@media (max-width: 720px){
  .container-E p{
    font-size: 10px;
  }
}

@media (max-width: 720px){
  .container-E .pf-font{
    font-size: 10px;
  }
}

pre{
  justify-content: principal-Alignments.$items-left;
  text-align: principal-Alignments.$items-left;
  align-items: principal-Alignments.$items-left;
}

.icon-image{
  width: 30px;
  height: 30px;
}

.top-nav{
  top:2.5em;
}

//alineaciones y movimientos en pantalla

.item-center-y{
    align-items: principal-Alignments.$items-center;
}

.item-center-x{
    justify-content:principal-Alignments.$items-center;
}

.text-center{
    text-align: principal-Alignments.$items-center;
}

.text-justify{
    text-align: principal-Alignments.$items-justify;
}

.text-right{
    text-align: principal-Alignments.$items-rigth;
}

.text-left{
    text-align: principal-Alignments.$items-left;
}


.item-SpaceAround{
    justify-content: principal-Alignments.$items-spaceAround;
}

.item-SpaceBetween{
    justify-content: principal-Alignments.$items-spaceBetween;
}

.item-SpaceEvenly{
    justify-content: principal-Alignments.$items-spaceEvenly;
}

.item-right{
    justify-content: principal-Alignments.$items-rigth;
}

.item-left{
  justify-content: principal-Alignments.$items-left;
}

.logo-img{
  max-width: 20%;
  height: auto;
}


//badges

@media(max-width:560px){
  span{
    font-size: 12px;
  }
}

.badge-text-uno{
  background-color: principal-colors.$light-enfasis;
  color: principal-colors.$dark-enfasis;
  padding: principal-padding.$padding-small;
}
.badge-text-dos{
  background-color: principal-colors.$sunset-enfasis;
  color: principal-colors.$deep-enfasis;
  padding: principal-padding.$padding-small;
}
.badge-text-tres{
  background-color: principal-colors.$sky-enfasis;
  color: principal-colors.$mars-enfasis;
  padding: principal-padding.$padding-small;
}
.badge-text-cuatro{
  background-color: principal-colors.$basic-enfasis;
  color: principal-colors.$dark-enfasis;
  padding: principal-padding.$padding-small;
}
.badge-text-cinco{
  background-color: principal-colors.$light-enfasis;
  color: principal-colors.$gray-enfasis;
  padding: principal-padding.$padding-small;
}
.btn-uno{ 
  width: botones.$btn_mediano;
  background-color: principal-colors.$fondo;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}
.badge-btn-text{
  width: botones.$btn_mediano;
  background-color: principal-colors.$dark-enfasis;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}
.btn-dos{
  width: botones.$btn_mediano;
  background-color: principal-colors.$sunset-enfasis;
  color: principal-colors.$deep-enfasis;
  padding: principal-padding.$padding-small;
}

.btn-tres{
  width: botones.$btn_mediano;
  background-color: principal-colors.$sky-enfasis;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}
.order-badges{
  color: principal-colors.$light-enfasis;
  background-color: principal-colors.$crimson;
  position: principal-alineamientos.$position-bd;
  transform: principal-alineamientos.$transform-bd;
  border-radius: 20px;
  font-family: principal-fonts.$title-font;
  font-weight: principal-types-text.$text-bold;
  padding: principal-padding.$padding-small;
  font-size: principal-sizes.$txt-small;
}  
.badge-primary{
  padding: principal-padding.$padding-small;
  border-radius: 6px;
  background-color: principal-colors.$sky-enfasis;
  color: principal-colors.$light-enfasis;
}

@media (max-width:560px){
  .badge-primary{
    height: 30px;
    width: 60px;
  }
}
.badge-secondary{
  border-radius: 6px;
  background-color: principal-colors.$gray-enfasis;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}

@media (max-width:560px){
  .badge-secondary{
    height: 30px;
    width: 60px;
  }
}
.badge-success{
  border-radius: 6px;
  background-color: principal-colors.$dark-enfasis;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}

@media (max-width:560px){
  .badge-success{
    height: 30px;
    width: 60px;
  }
}
.badge-danger{
  border-radius: 6px;
  padding: principal-padding.$padding-small;
  background-color: principal-colors.$crimson;
  color: principal-colors.$light-enfasis;
  border: 2px solid principal-colors.$mars-enfasis;
}

@media (max-width:560px){
  .badge-danger{
    height: 30px;
    width: 60px;
  }
}
.badge-warning{
  border-radius: 6px;
  background-color: principal-colors.$desert;
  color: principal-colors.$dark-enfasis;
  padding: principal-padding.$padding-small;
}

@media (max-width:560px){
  .badge-warning{
    height: 30px;
    width: 60px;
  }
}
.badge-info{
  border-radius: 6px;
  background-color: principal-colors.$deep-enfasis;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}

@media (max-width:560px){
  .badge-info{
    height: 30px;
    width: 60px;
  }
}
.badge-ligth{
  border-radius: 6px;
  background-color: principal-colors.$light-enfasis;
  color: principal-colors.$dark-enfasis;
  padding: principal-padding.$padding-small;
  border: 2px solid principal-colors.$dark-enfasis;
}

@media (max-width:560px){
  .badge-ligth{
    height: 30px;
    width: 60px;
  }
}
.badge-dark{
  border-radius: 6px;
  background-color: principal-colors.$dark-enfasis;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}

@media (max-width:560px){
  .badge-dark{
    width: 30px;
    width: 60px;
  }
}
.badge-rounded-primary{
  border-radius: 20px;
  background-color: principal-colors.$sky-enfasis;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}

@media (max-width:560px){
  .badge-rounded-primary{
    width: 30px;
    width: 60px;
  }
}
.badge-rounded-secondary{
  border-radius: 20px;
  background-color: principal-colors.$gray-enfasis;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}
@media (max-width:560px){
  .badge-rounded-secondary{
    width: 30px;
    width: 60px;
  }
}
.badge-rounded-success{
  border-radius: 20px;
  background-color: principal-colors.$dark-enfasis;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}
@media (max-width:560px){
  .badge-rounded-success{
    width: 30px;
    width: 60px;
  }
}
.badge-rounded-danger{
  border-radius: 20px;
  background-color: principal-colors.$crimson;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}

@media (max-width:560px){
  .badge-rounded-danger{
    width: 30px;
    width: 60px;
  }
}
.badge-rounded-warning{
  border-radius: 20px;
  color: principal-colors.$dark-enfasis;
  background-color: principal-colors.$desert;
  padding: principal-padding.$padding-small;

}
@media (max-width:560px){
  .badge-rounded-warning{
    width: 30px;
    width: 60px;
  }
}
.badge-rounded-info{
  border-radius: 20px;
  background-color: principal-colors.$deep-enfasis;
  color: principal-colors.$light-enfasis;
  padding: principal-padding.$padding-small;
}
@media (max-width:560px){
  .badge-rounded-info{
    width: 30px;
    width: 60px;
  }
}
.badge-rounded-ligth{
  border-radius: 20px;
  background-color: principal-colors.$light-enfasis;
  color: principal-colors.$dark-enfasis;
  padding: principal-padding.$padding-small;
  border: 2px solid principal-colors.$gray-enfasis;
}

@media (max-width:560px){
  .badge-rounded-ligth{
    width: 30px;
    width: 60px;
  }
}
.badge-rounded-dark{
  border-radius: 20px;
  background-color: principal-colors.$dark-enfasis;
  padding: principal-padding.$padding-small;
  color: principal-colors.$light-enfasis;
}
@media (max-width:560px){
  .badge-rounded-dark{
    width: 30px;
    width: 60px;
  }
}
//Alertas-------------------------------
.alert-primary{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$beige-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert-secondary{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$gray-enfasis;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$light-enfasis;
}
.alert-succes{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert-danger{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$crimson;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$mars-enfasis;  
}
.alert-warning{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$desert;
    color: principal-colors.$dark-enfasis;
    border: 2px solid principal-colors.$gray-enfasis;
}
.alert-info{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$fondo;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert-link{
  color: principal-colors.$basic-enfasis;
}
.alert-link-dark{
    color: principal-colors.$dark-enfasis;
}
.alert-link-light{
    color: principal-colors.$marine;
}
.alert-light{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$light-enfasis;
    color: principal-colors.$dark-enfasis;
    border: 2px solid principal-colors.$gray-enfasis;
}
.alert-dark{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$dark-enfasis;
    color: principal-colors.$beige-enfasis;
    border: 2px solid principal-colors.$gray-enfasis;
}

.alert-primary-link{
  padding: principal-padding.$padding-medium;
  height: principal-dimensiones.$medio-alto;
  width: principal-dimensiones.$medio-ancho;
  background-color: principal-colors.$deep-enfasis;
  color: principal-colors.$beige-enfasis;
  border: 2px solid principal-colors.$sky-enfasis;
}
.alert-secondary-link{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$gray-enfasis;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$light-enfasis;
}
.alert-success-link{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert-danger-link{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$crimson;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$mars-enfasis;
}
.alert-warning-link{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$desert;
    color: principal-colors.$dark-enfasis;
    border: 2px solid principal-colors.$gray-enfasis;
}
.alert-info-link{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$fondo;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert-light-link{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$light-enfasis;
    color: principal-colors.$dark-enfasis;
    border: 2px solid principal-colors.$gray-enfasis;
}
.alert-dark-link{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$dark-enfasis;
    color: principal-colors.$beige-enfasis;
    border: 2px solid principal-colors.$gray-enfasis;
}

.alert-triangle-primary{
    display:flex;
    justify-content: flex-start;
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$basic-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert-primary-icon{
    display:flex;
    justify-content: flex-start;
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert-success-icon{
    display:flex;
    justify-content: flex-start;
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$light-enfasis;
    color: principal-colors.$gray-enfasis;
    border: 2px solid principal-colors.$dark-enfasis;
}
.alert-warning-icon{
    display:flex;
    justify-content: flex-start;
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$desert;
    color: principal-colors.$dark-enfasis;
    border: 2px solid principal-colors.$gray-enfasis;
}
.alert-danger-icon{
    display:flex;
    justify-content: flex-start;
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$crimson;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$mars-enfasis;
}

.alert-triangle-primary {
  height: 30px;
  width: 30px;
}

svg.img1{
  height: 30px;
  width: 30px;
}
svg.img2{

  height: 30px;
  width: 30px;
}
svg.img3{
  height: 30px;
  width: 30px;
}
svg.img4{
  width: 30px;
  height: 30px;
}
//Inicio de Benjamin ----------------------------------
//clases para sombras
.shadow{//sombras normales
  @extend %sombra_res;
}

.shadow-soft{//sombras claras
  @extend %sombra_suave;
}

.shadow-mid{//sombras medianas
  @extend %sombra_media;
}

.shadow-strong{//sombras oscuras
  @extend %sombra_fuerte;
}

//clases para bordes
.border-s{//bordes chiquitos
  @extend %border_small;
}

.border-m{//bordes medianos
  @extend %border_medium;
}

.border-l{//bordes grandes
  @extend %border_largue;
}

.border-full{//borde cuadrado
  @extend %bordes_cuadrados;
}

.border-semi{//borde semi ovalado
  @extend %bordes_semiovalados;
}

.border-round{//borde redondo
  @extend %bordes_redondeados;
}

//clases para padding
.spadding{//padding pequeño
  @extend %paddding_peque;
}

.mpadding{//padding mediano
  @extend %paddding_med;
}

.lpadding{//padding grande
  @extend %paddding_grand;
}

.special-padding{
  @extend %paddding_for_things;
}

.component-padding{
  @extend %paddding_component;
}

.padding-arriba{
  @extend %padding_top;
}

.padding-abajo{
  @extend %padding_bottom;
}

.padding-izquierda{
  @extend %padding_left;
}

.padding-derecha{
  @extend %padding_rigth;
}

//clases para margen
.margins{//margen pequeño
  @extend %margin_small;
}

.marginm{//margen mediano
  @extend %margin_medium;
}

.marginl{//margen grande
  @extend %margin_largue;
}

.margin-separador{
  @extend %margin_all;
}

.margen-arriba{
  @extend %margin_top;
}

.margen-abajo{
  @extend %margin_bottom;
}

.margen-izquierda{
  @extend %margin_left;
}

.margen-derecha{
  @extend %margin_rigth;
}


//clase para ocultar
.hide{
  @extend %noshow;
}

//clase para mostrar
.show{
  @extend %show;
}

//clase para primero ocultar y si se minimiza la ventana entonces mostrar
.mostrar-oculto{
  @extend %magic;
}

//clase para primero mostrar y si se minimiza la ventana entonces ocultar
.oculto-mostrar{
  @extend %spell;
}
//fin de Ben ---------------------------------

*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



// CONFIGURACION BOTONES


.btn{
    background-color: principal-colors.$transparent-enfasis;
    font-family: principal-fonts.$cmp-font;
    margin-left: auto;  
    margin-right: auto;
    position: relative;
    height: botones.$heigth;
    width: botones.$btn_width;
    color: principal-colors.$dark-enfasis;
    overflow: hidden;
    transition: all botones.$transicion ease;
    border: botones.$border_btn solid principal-colors.$dark-enfasis;
    border-radius: botones.$border_r_btn;
    z-index: 0;
    font-weight: botones.$font_wei_btn;
    text-transform: uppercase;
    cursor:pointer; 
}

@media (max-width:560px){
    .btn{
      height: 30px;
      width: 150px;
    }
}

.btn-border-none {
  font-family: principal-fonts.$title-font;
  font-weight: principal-types-text.$text-bold;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  height: botones.$heigth;
  width: botones.$btn_width;
  overflow: hidden;
  transition: all botones.$transicion ease;
  border: 1.5px solid transparent;
  z-index: 0;
  font-weight: botones.$font_wei_btn;
  text-transform: uppercase;
  cursor:pointer;
}
@media (max-width:560px){
  .btn-border-none{
    height: 30px;
    width: 150px;
  }
}

.btn::before {
  content: "";
  position: absolute;
  left: botones.$Cero;
  right: botones.$Cero;
  top: botones.$Cero;
  margin: auto; 
  transition: all 1s ease;
  z-index: -1;
}

        // ANIMACION BOTON 1



.btn_marte::before {
  width: 0;
  background-color: principal-colors.$mars-enfasis;
  height: botones.$btn_width;
}
.btn_marte:hover {
  color: principal-colors.$basic-enfasis;
}
.btn_marte:hover::before {
  width: botones.$btn_width;
}

// ANIMACION BOTON 2

.btn_gargantua:hover {
  background-color: principal-colors.$black-enfasis;
  box-shadow: 0 0 15px principal-colors.$Shadow-btn, 0 0 15px principal-colors.$Shadow-btn, 0 0 15px principal-colors.$Shadow-btn;
  border: 2px solid #fff;
  color: principal-colors.$basic-enfasis;
  transition: background-color 1s ease, box-shadow 0.5s ease, border 0.5s ease, color 0.5s ease; /* Agregamos la transición */
}


// ANIMACIONES BOTON 3

.btn_andromeda{
  color: principal-colors.$basic-enfasis;
}

.btn_andromeda::after{
  content: "";
  position: absolute;
  width: botones.$btn_grande;
  height: botones.$btn_grande;
  left: botones.$Cero;
  top: botones.$Cero;
  background-image: linear-gradient(70deg, #6959e3,  #bc71c8,#bdd1f5, #bc8474, #1F2A35, #3d3b8c);
  background-size: 300%;
  z-index: -1;
  transition: all 0.5s ease;
}

.btn_andromeda:hover::after{
  background-position: botones.$btn_grande;
  filter: blur(15px);
}

.btn_andromeda:hover{
  color: principal-colors.$basic-enfasis;
}

.btn_andromeda::before{
  content: "";
  position: absolute;
  width: botones.$btn_grande;
  height: botones.$btn_grande;
  left: botones.$Cero;
  top: botones.$Cero;
  background-size: 300%;  background-image: linear-gradient(70deg, #6959e3,  #bc71c8,#bdd1f5, #bc8474, #1F2A35, #3d3b8c);
  z-index: -1;
}

.btn_andromeda:hover::before{
  background-position: botones.$btn_grande;
}

// ANIMACIONES BOTON 4

.btn_fugaz::after{
  content: "";
  position: absolute;
  width: 10%;
  height: 110%;
  left: -16%;
  top: 0;
  transform: skew(20deg, 0deg);
  background-color: principal-colors.$dark-enfasis; //color de inicio de animacion
  z-index: -1;
  transition: all 1s ease;
  color:principal-colors.$light-enfasis;
}

.btn_fugaz::before{
  content: "";
  position: absolute;
  width: botones.$btn_grande;
  height: botones.$btn_grande;
  left: botones.$Cero;
  top: botones.$Cero;
  transition: all .5s ease;
  z-index: -1;
  background-color: principal-colors.$light-enfasis;
  color:principal-colors.$dark-enfasis;
}

.btn_fugaz:hover::after{
  background-color: principal-colors.$light-enfasis; //color final de animacion
  transform: skew(20deg, 0deg) translateX(340px);
  color:principal-colors.$light-enfasis;
}

.btn_fugaz:hover::before{
  background-color: principal-colors.$dark-enfasis; //color fondo boton despues de la animacion
  transform: skew(20deg, 0deg) scale(1.1);
  color:principal-colors.$light-enfasis;

}

.btn_fugaz:hover{
   color:principal-colors.$basic-enfasis;
}


  //TAMAÑOS DE LOS BOTONES

  .btn_pequeño{
    width: botones.$btn_pequeño;
    height: botones.$btn_heigth;
    font-size: principal-sizes.$txt-small;
}

.btn_mediano{
    width: botones.$btn_mediano; 
    height: botones.$btn_heigth;
    font-size: principal-sizes.$txt-smedium;
}

.btn_grande{
    width: botones.$btn_grande;
    height: botones.$heigth;
    font-size: principal-sizes.$txt-medium;
}

@media(max-width:560px){
  .btn_grande{
    font-size: 18px;
  }
}

.btn_largo{
  width: botones.$btn_grande;
  height: botones.$btn_heigth_large;
  font-size: principal-sizes.$txt-small;
}


// BOTON HOME

.btn_home{
  color: principal-colors.$dark-enfasis;
  width: botones.$Home;
  height: botones.$mg_boton;
  border: 1.5px solid transparent;
  transition: border-color 0.3s ease;
  border-radius: 15px;
  background-color: principal-colors.$transparent-enfasis;
  font-size: principal-sizes.$txt-small;
}

.btn_home:hover{
  border-color: principal-colors.$dark-enfasis;
}

.btn_home:hover::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1.5px principal-colors.$dark-enfasis;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.btn_home:not(:hover)::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1.5px principal-colors.$dark-enfasis;  opacity: 0;
  transition: opacity 0.3s ease 0.9s;
  pointer-events: none;
}

// TARJETAS Y ANIMACIONES

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card_titulo {
  font-size: principal-sizes.$txt-medium;
  color: principal-colors.$dark-enfasis;
}

.txt {
  font-size: principal-sizes.$txt-smedium;
  font-family: principal-fonts.$pf-font;
}

@media(max-width:560px){
  .txt{
    font-size: 8.5px;
  }
}



.container-card {
  width: 110%;
  display: flex;
  max-width: 1100px;
  margin: auto;
  height: 95%;
}


.card {
  width: 35%;
  margin: botones.$tarjetas;
  height: auto;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  margin-top: 15px;
  cursor: pointer;
}


@media(max-width:720px){
  .txt{
    font-size: 10.5px;
  }
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: auto;
}
.card .contenido-card {
  padding: botones.$border_r_btn;
  text-align: center;
}
.card .contenido-card {
  margin-bottom: botones.$border_r_btn;
  color: principal-colors.$dark-enfasis;
}
.card .contenido-card {
  line-height: 1.8;
  color: principal-colors.$dark-enfasis;
  font-size: 14px;
  margin-bottom: 5px;
}
.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}
.card .contenido-card a:hover {
  color: #fff;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
  }
  .card {
    margin: 15px;
  }
}

  // FIN BOTONES Y TARJETAS
// navbar quevedo

.navbar-space{
    width: 100%;
    height: 2.5em;
    font-size: principal-sizes.$txt-medium;

    background-color: principal-colors.$light-enfasis;

    color: principal-colors.$dark-enfasis;

    box-sizing: border-box;

    display: flex;
    align-content: center;
    justify-content: flex-start;
    
    flex-direction: row;
    align-items: center;
}

@media (max-width:560px){
  .navbar-space .btn{
    height: 30px;
    width: 150px;
  }
}

.navbar-fixed{
  position: fixed;
  z-index: 2;
}

.navbar-item{
    width: auto;
    height: 100%;
    margin: 0px 10px;
}

.navbar-center-item{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.navbar-right-item{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

// form quevedo

.form-space{
    width: auto;
    height: auto;
    margin: 0;
    padding: 20px;
}

.label-space{
    padding: 0;
    margin: 0;
    font-weight: 200;
    margin-top: 30px;
}

.input-text{
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}

.input-space-item{
    color: principal-colors.$dark-enfasis;
    padding: 10px;
    width: 100%;
    height: 3em;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px rgba($color: principal-colors.$deep-enfasis, $alpha: 0.5) solid;;
}

.input-space-check{
    color: principal-colors.$dark-enfasis;
    padding: 10px;
    width: 1em;
    height: 1em;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px rgba($color: principal-colors.$deep-enfasis, $alpha: 0.5) solid;;
}

.input-space-group{
    padding: 0px;
    color: principal-colors.$basic-enfasis;
    height: 2.5em;
    background-color: principal-colors.$sky-enfasis;
    margin: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px rgba($color: principal-colors.$deep-enfasis, $alpha: 0.5) solid;
}


.margin-nav{
  margin-top: margin.$margin-nav;
}



// fin quevedo
