@use 'principal-fonts'; 
@use 'principal-colors';
@use 'principal-types-text';
@use 'principal-sizes';
@use 'principal-containers';
@use 'principal-Alignments';
@use 'shadows' ;
@use 'border' ;
@use 'padding' ;
@use 'margin' ;

//tipografia

.title-font {
    font-family: principal-fonts.$title-font;
}

.zone-font {
    font-family: principal-fonts.$zone-font;
}

.cmp-font{
    font-family: principal-fonts.$cmp-font;
}

.pf-font{
    font-family: principal-fonts.$pf-font;
}

.deco-font{
    font-family: principal-fonts.$deco-font;
}

//colores

.color-dark{
    color: principal-colors.$dark-enfasis;
}

.color-light{
    color: principal-colors.$light-enfasis;
}

.color-beige{
    color: principal-colors.$beige-enfasis;
}

.color-basic{
    color: principal-colors.$basic-enfasis;
}

.color-gray{
    color: principal-colors.$gray-enfasis;
}

.color-sky{
    color: principal-colors.$sky-enfasis;
}

.color-sunset{
    color: principal-colors.$sunset-enfasis;
}

.color-deep{
    color: principal-colors.$deep-enfasis;
}

.color-mars{
    color: principal-colors.$mars-enfasis;
}


//fondos

.bkg-dark{
    background-color: principal-colors.$dark-enfasis;
}

.bkg-light{
    background-color: principal-colors.$light-enfasis;
}

.bkg-basic{
    background-color: principal-colors.$basic-enfasis;
}

.bkg-beige{
    background-color: principal-colors.$beige-enfasis;
}

.bkg-gray{
    background-color: principal-colors.$gray-enfasis;
}

.bkg-sky{
    background-color: principal-colors.$sky-enfasis;
}

.bkg-sunset{
    background-color: principal-colors.$sunset-enfasis;
}

.bkg-mars{
    background-color: principal-colors.$mars-enfasis;
}

.bkg-basic{
    background-color: principal-colors.$basic-enfasis;
}

.bkg-blur{
    background-color: principal-colors.$blur-enfasis; 
    backdrop-filter: blur(50px);
}

//tipos de texto

.txt-italic{
    font-style: principal-types-text.$text-italic;
}

.txt-sub{
    text-decoration: principal-types-text.$text-sub;
}

.txt-dead{
    text-decoration: principal-types-text.$text-dead;
}

.txt-bold{
    font-weight: principal-types-text.$text-bold;
}


//tamaños de letra

.txt-xsmall{
    font-size: principal-sizes.$txt-xsmall;
}

.txt-small{
    font-size: principal-sizes.$txt-small;
}

.txt-xmedium{
    font-size: principal-sizes.$txt-xmedium;
}

.txt-medium{
    font-size: principal-sizes.$txt-medium;
}

.txt-large{
    font-size: principal-sizes.$txt-large;
}

.txt-bigger{
    font-size: principal-sizes.$txt-bigger;
}

//contenedores


//contenedor 1 (Marte - Tierra)
//****************************************************************
.container-A {
    height: principal-containers.$altura-partB;
    display: principal-containers.$display-A;
    grid-template-columns: principal-containers.$columns-A;
    grid-template-rows: principal-containers.$rows-A;
    grid-template-areas: principal-containers.$areas-A;
    gap: principal-containers.$gap-A;
}

.Lado-Izquierdo {
    grid-area: principal-containers.$parte-Izq;
    justify-content: principal-Alignments.$items-center;; 
    align-items: principal-Alignments.$items-center;
    height: principal-containers.$altura-partA;
    position: sticky; //pega el elemento en la posicion actual
    top: 0; //desde que parte del borde se pegara el elemento 
}

.Lado-Derecho {
    grid-area: principal-containers.$parte-Der;
    justify-content:principal-Alignments.$items-center; // ajusta el contenido al centro horizontalmente
    align-items: principal-Alignments.$items-center; // ajusta el contenido al centro verticalmente
    text-align: principal-Alignments.$items-center;
    flex-wrap: wrap;
    overflow-y: auto;
    height: principal-containers.$altura-partB;
}

//*****************************************************************

//Contenedor B

.container-B{
    height: principal-containers.$altura-B;
    display: principal-containers.$display-B;
    width: principal-containers.$ancho-B;
    flex-wrap: principal-containers.$flex-wrap-B;
}


//contenedor C

.container-C{
    height: principal-containers.$altura-C;
    display: principal-containers.$display-C;
    flex-wrap: principal-containers.$flex-wrap-C;
    gap: principal-containers.$gap-C;
}


//alineaciones y movimientos en pantalla

.item-center-y{
    align-items: principal-Alignments.$items-center;
}

.item-center-x{
    justify-content:principal-Alignments.$items-center;
}

.text-center{
    text-align: principal-Alignments.$items-center;
}

.text-justify{
    text-align: principal-Alignments.$items-justify;
}

.text-right{
    text-align: principal-Alignments.$items-rigth;
}

.text-left{
    text-align: principal-Alignments.$items-left;
}

.item-SpaceAround{
    justify-content: principal-Alignments.$items-spaceAround;
}

.item-SpaceBetween{
    justify-content: principal-Alignments.$items-spaceBetween;
}

.item-SpaceEvenly{
    justify-content: principal-Alignments.$items-spaceEvenly;
}


//badges

.badge-text-uno{
    background-color: principal-colors.$light-enfasis;
    color: principal-colors.$dark-enfasis;
    padding: padding.$padding;
}
.badge-text-dos{
    background-color: principal-colors.$sunset-enfasis;
    color: principal-colors.$deep-enfasis;
    padding: padding.$padding;
}
.badge-text-tres{
    background-color: principal-colors.$sky-enfasis;
    color: principal-colors.$mars-enfasis;
    padding: padding.$padding;
}
.badge-text-cuatro{
    background-color: principal-colors.$basic-enfasis;
    color: principal-colors.$dark-enfasis;
    padding: padding.$padding;
}
.badge-text-cinco{
    background-color: principal-colors.$light-enfasis;
    color: principal-colors.$gray-enfasis;
    padding: padding.$padding;
}
.btn-uno{ 
    width: botones.$btn_mediano;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$light-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-btn-text{
    width: botones.$btn_mediano;
    background-color: principal-colors.$gray-enfasis;
    color: principal-colors.$beige-enfasis;
    padding: principal-padding.$padding-small;
}
.btn-dos{
    width: botones.$btn_mediano;
    background-color: principal-colors.$sunset-enfasis;
    color: principal-colors.$deep-enfasis;
    padding: principal-padding.$padding-small;
}

.btn-tres{
    width: botones.$btn_mediano;
    background-color: principal-colors.$sky-enfasis;
    color: principal-colors.$light-enfasis;
    padding: principal-padding.$padding-small;
}
.order-badges{
    position: principal-alineamientos.$position-bd;
    transform: principal-alineamientos.$transform-bd;
    border-radius: 10%;
    font-family: principal-fonts.$title-font;
    font-weight: principal-types-text.$text-bold;
    padding: principal-padding.$padding-small;
    font-size: principal-sizes.$txt-small;
}  
.badge-text-primary{
    padding: principal-padding.$padding-small;
    border-radius: 6px;
    background-color: principal-colors.$sky-enfasis;
    color: principal-colors.$light-enfasis;
}
.badge-text-secondary{
    border-radius: 6px;
    background-color: principal-colors.$gray-enfasis;
    color: principal-colors.$light-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-text-success{
    border-radius: 6px;
    background-color: principal-colors.$dark-enfasis;
    color: principal-colors.$light-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-text-danger{
    border-radius: 6px;
    padding: principal-padding.$padding-small;
    background-color: principal-colors.$mars-enfasis;
    color: principal-colors.$light-enfasis;
}
.badge-text-warning{
    border-radius: 6px;
    background-color: principal-colors.$sunset-enfasis;
    color: principal-colors.$dark-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-text-info{
    border-radius: 6px;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$light-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-text-ligth{
    border-radius: 6px;
    background-color: principal-colors.$light-enfasis;
    color: principal-colors.$dark-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-text-dark{
    border-radius: 6px;
    background-color: principal-colors.$dark-enfasis;
    color: principal-colors.$light-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-rounded-text-primary{
    border-radius: 20px;
    background-color: principal-colors.$sky-enfasis;
    color: principal-colors.$light-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-rounded-text-secondary{
    border-radius: 20px;
    background-color: principal-colors.$gray-enfasis;
    color: principal-colors.$light-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-rounded-text-success{
    border-radius: 20px;
    background-color: principal-colors.$dark-enfasis;
    color: principal-colors.$light-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-rounded-text-danger{
    border-radius: 20px;
    background-color: principal-colors.$mars-enfasis;
    color: principal-colors.$light-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-rounded-text-warning{
    border-radius: 20px;
    background-color: principal-colors.$sunset-enfasis;
    color: principal-colors.$dark-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-rounded-text-info{
    border-radius: 20px;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$light-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-rounded-text-ligth{
    border-radius: 20px;
    background-color: principal-colors.$light-enfasis;
    color: principal-colors.$dark-enfasis;
    padding: principal-padding.$padding-small;
}
.badge-rounded-text-dark{
    border-radius: 20px;
    background-color: principal-colors.$dark-enfasis;
    padding: principal-padding.$padding-small;
    color: principal-colors.$light-enfasis;
}

//Alertas-------------------------------
.alert-primary{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$beige-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert-secondary{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$gray-enfasis;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$light-enfasis;
}
.alert-success{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$basic-enfasis;
    color: principal-colors.$sky-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert-danger{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$mars-enfasis;
    color: principal-colors.$beige-enfasis;
    border: 2px solid principal-colors.$beige-enfasis;
}
.alert-warning{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$beige-enfasis;
    color: principal-colors.$dark-enfasis;
    border: 2px solid principal-colors.$light-enfasis;
}
.alert-info{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert-link-dark{
    color: principal-colors.$dark-enfasis;
}
.alert-light{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$gray-enfasis;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$gray-enfasis;
}
.alert-dark{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$dark-enfasis;
    color: principal-colors.$sky-enfasis;
    border: 2px solid principal-colors.$gray-enfasis;
}

.alert-link{
    color: principal-colors.$basic-enfasis;
}
.alert--primary{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$sky-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert--secondary{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$gray-enfasis;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$light-enfasis;
}
.alert--success{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$basic-enfasis;
    color: principal-colors.$sky-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert--danger{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$mars-enfasis;
    color: principal-colors.$beige-enfasis;
    border: 2px solid principal-colors.$beige-enfasis;
}
.alert--warning{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$beige-enfasis;
    color: principal-colors.$gray-enfasis;
    border: 2px solid principal-colors.$light-enfasis;
}
.alert--info{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$sky-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert--light{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$gray-enfasis;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$light-enfasis;
}
.alert--dark{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    background-color: principal-colors.$dark-enfasis;
    color: principal-colors.$sky-enfasis;
    border: 2px solid principal-colors.$gray-enfasis;
}
.alert-success{
   display: flex;
   align-items: flex-start;
}
.alert-triangle-primary{
    padding: principal-padding.$padding-medium;
    font-size: principal-sizes.$txt-xmedium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$basic-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.triangle{
    height: 30px;
}
.alert-primary-b{
    display: flex;
    align-items: flex-start;
    padding: principal-padding.$padding-medium;
    font-size: principal-sizes.$txt-xmedium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    background-color: principal-colors.$deep-enfasis;
    color: principal-colors.$light-enfasis;
    border: 2px solid principal-colors.$sky-enfasis;
}
.alert-success-b{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    display: flex;
    align-items: flex-start;
    background-color: principal-colors.$basic-enfasis;
    color: principal-colors.$gray-enfasis;
    border: 2px solid principal-colors.$dark-enfasis;
}
.alert-warning-b{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    display: flex;
    align-items: flex-start;
    background-color: principal-colors.$beige-enfasis;
    color: principal-colors.$dark-enfasis;
    border: 2px solid principal-colors.$light-enfasis;
}
.alert-danger-b{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    display: flex;
    align-items: flex-start;
    background-color: principal-colors.$mars-enfasis;
    color: principal-colors.$dark-enfasis;
    border: 2px solid principal-colors.$beige-enfasis;

}
.alert-warning-c{
    padding: principal-padding.$padding-medium;
    height: principal-dimensiones.$medio-alto;
    width: principal-dimensiones.$medio-ancho;
    font-size: principal-sizes.$txt-xmedium;
    display: flex;
    align-items: flex-start;
    background-color: principal-colors.$mars-enfasis;
    color: principal-colors.$dark-enfasis;
    border: 2px solid principal-colors.$dark-enfasis;
}
.imge1{
    height: 50px;
}
.imge2{
    height: 50px;
}
.imge3{
    height: 50px;
}
.imge4{
    height: 50px;
}

//Inicio de Benjamin
//clases para sombras
.shadow{//sombras normales
  @extend %sombra_res;
}

.shadow-soft{//sombras claras
  @extend %sombra_suave;
}

.shadow-mid{//sombras medianas
  @extend %sombra_media;
}

.shadow-strong{//sombras oscuras
  @extend %sombra_fuerte;
}

//clases para bordes
.border-s{//bordes chiquitos
  @extend %border_small;
}

.border-m{//bordes medianos
  @extend %border_medium;
}

.border-l{//bordes grandes
  @extend %border_largue;
}

.border-full{//borde cuadrado
  @extend %bordes_cuadrados;
}

.border-semi{//borde semi ovalado
  @extend %bordes_semiovalados;
}

.border-round{//borde redondo
  @extend %bordes_redondeados;
}

//clases para padding
.spadding{//padding pequeño
  @extend %paddding_peque;
}

.mpadding{//padding mediano
  @extend %paddding_med;
}

.lpadding{//padding grande
  @extend %paddding_grand;
}

//clases para margen
.margins{//margen pequeño
  @extend %margin_small;
}

.marginm{//margen mediano
  @extend %margin_medium;
}

.marginl{//margen grande
  @extend %margin_largue;
}

//clase para ocultar
.hide{
  display: none;
}
//fin de Ben

// INICIO BOTONES Y TARJETAS
//Botones y sus animaciones

*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html,
body {
    width: botones.$btn_grande;
    height: botones.$btn_grande;
    font-size: principal-sizes.$txt-small;
    margin: botones.$Cero;
    padding: botones.$Cero;
    display: block;
    line-height: 1.317101995;
    scroll-behavior: smooth;
}

.centered-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: botones.$btn_width;
  flex-wrap: wrap;

}

// CONFIGURACION BOTONES

.btn {
    font-family: principal-fonts.$cmp-font;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    height: botones.$heigth;
    width: botones.$btn_width;
    color: principal-colors.$dark-enfasis;
    overflow: hidden;
    transition: all botones.$transicion ease;
    border: botones.$border_btn solid principal-colors.$dark-enfasis;
    border-radius: botones.$border_r_btn;
    z-index: 0;
    font-weight: botones.$font_wei_btn;
    text-transform: uppercase;
    cursor:pointer;
}
.btn::before {
  content: "";
  position: absolute;
  left: botones.$Cero;
  right: botones.$Cero;
  top: botones.$Cero;
  margin: auto;
  transition: all botones.$transicion ease;
  z-index: -1;
}

// ANIMACION BOTON 1

.btn_1::before {
  width: 0;
  background-color: principal-colors.$beige-enfasis;
  height: botones.$btn_width;
}
.btn_1:hover {
  color: principal-colors.$basic-enfasis;
}
.btn_1:hover::before {
  width: botones.$btn_width;
}

// ANIMACION BOTON 2

.btn_2:hover {
    background-color: principal-colors.$orange;
     box-shadow: 0 0 25px principal-colors.$desert, 0 0 25px principal-colors.$desert, 0 0 25px principal-colors.$desert;
}

// ANIMACIONES BOTON 3

.btn_3::after{
  content: "";
  position: absolute;
  width: botones.$btn_grande;
  height: botones.$btn_grande;
  left: botones.$Cero;
  top: botones.$Cero;
  background-image: linear-gradient(90deg, rgb(197, 86, 222), rgb(86, 4, 145), rgb(255, 0, 0), rgb(255, 218, 9));
  background-size: 300%;
  z-index: -1;
  transition: all 0.2s ease;
}

.btn_3:hover::after{
  background-position: botones.$btn_grande;
  
  filter: blur(15px);
}

.btn_3:hover{
  color: principal-colors.$basic-enfasis;
}

.btn_3::before{
  content: "";
  position: absolute;
  width: botones.$btn_grande;
  height: botones.$btn_grande;
  left: botones.$Cero;
  top: botones.$Cero;
  background-size: 300%;
  background-image: linear-gradient(90deg, rgb(197, 86, 222), rgb(86, 4, 145), rgb(255, 0, 0), rgb(255, 218, 9));
  z-index: -1;
}

.btn_3:hover::before{
  background-position: botones.$btn_grande;
}

// ANIMACIONES BOTON 4

.btn_4::after{
  content: "";
  position: absolute;
  width: 10%;
  height: 110%;
  left: -12%;
  top: 0;
  transform: skew(20deg, 0deg);
  background-color: principal-colors.$sunset-enfasis;
  z-index: -1;
  transition: all .1s ease;
}

.btn_4::before{
  content: "";
  position: absolute;
  width: botones.$btn_grande;
  height: botones.$btn_grande;
  left: botones.$Cero;
  top: botones.$Cero;
  transform: skew(20deg, 0deg);
  transition: all .5s ease;
  z-index: -1;
}

.btn_4:hover::after{
  background-color: #865d5d;
  transform: skew(20deg, 0deg) translateX(340px);
}

.btn_4:hover::before{
  background-color: principal-colors.$sunset-enfasis;
  transform: skew(20deg, 0deg) scale(1.1);
}



@keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0 principal-colors.$orange;
    }
    100% {
      box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
    }
  }
  

  //TAMAÑOS DE LOS BOTONES

.btn_pequeño{
    width: botones.$btn_pequeño;
    height: botones.$btn_heigth;
    font-size: principal-sizes.$txt-small;
}

.btn_mediano{
    width: botones.$btn_mediano; 
    height: botones.$btn_heigth;
    font-size: principal-sizes.$txt-smedium;
}

.btn_grande{
    width: botones.$btn_grande;
    height: botones.$heigth;
    font-size: principal-sizes.$txt-medium;
}


// BOTON HOME

.btn_home{
  color: principal-colors.$dark-enfasis;
  width: botones.$Home;
  height: botones.$mg_boton;
  border: 0px;
  background-color: principal-colors.$light-enfasis;
  
}

.btn_home:hover{
  border: botones.$Home_borde solid principal-colors.$dark-enfasis;
  transition: all 0.1s ease;
  
}

// TARJETAS Y ANIMACIONES

//RESPONSIVE DESING
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
  }
  
  img {
  display: block;
  max-width: botones.$btn_grande;
  height: auto;
  }
  
  .card_container{
    box-sizing: 228px;
    display: grid;
    row-gap: 3.5rem;
  
  }
  
  .container-C{
    display: grid;
    place-items: center;
    padding-block: 5rem;
    margin-inline: 1.5rem;
  }
  
  .card_descripcion{
    font-family: principal-fonts.$pf-font;
    display: block;
    font-size: principal-sizes.$txt-small;
    margin-bottom: .25rem;
  } 

  .card_titulo{
    text-decoration: none;
    font-family: principal-fonts.$title-font;
    font-size: principal-sizes.$txt-xmedium;
    color: tarjetas.$title-color;
    margin-bottom: 10px;
  }

  .card_artc{
    position: relative;
    overflow: hidden;
  }
  
  .card_img{
    width: 328px;
    border-radius: 2rem;

  }

  .card_inf{
    width: 280px;
    background-color: tarjetas.$container-color;
    padding: 1.5rem 2rem;
    box-shadow: 0 10px 22px hsla(0, 0%, 0%, .15);
    border-radius: 2rem;
    position: absolute;
    bottom: -9rem;
    right: 0;
    left: 0;
    opacity: 0;
    margin-inline: auto;
    transition: opacity 1s .6s;
  }

  // ANIMACION CARTAS

  .card_artc:hover .card_inf{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }

  .card_artc:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card_artc:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card_artc:not(:hover) .card_inf {
    animation: remove-data 1s forwards;
  }
  
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }

  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }

  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .card_inf {
      width: 250px;
      padding: 1rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    .card_container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  @media screen and (min-width: 1120px) {
    .container {
      height: 100vh;
    }
  
    .card_container {
      grid-template-columns: repeat(3, 1fr);
    }
    .card_img {
      width: 348px;
    }
    .card_inf {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }

  // FIN BOTONES Y TARJETAS
