$dark-enfasis: #222236; //colores oscuros
$light-enfasis: #e6f6f6; //colores claros
$basic-enfasis: #ffffff; //basicamente el blanco
$transparent-enfasis: #00000000; //transparente para fondos sin color, etc
$beige-enfasis: #fbdcad;
$gray-enfasis: #4a4645;
$sky-enfasis: #556b76;
$sunset-enfasis: #c8a48c;
$deep-enfasis: #294457;
$mars-enfasis: #bc8475;
$marine: #20E2D7;
$desert: #ddc755;
$orange: #f76e2e;
$bg_lineal: linear-gradient (90deg rgb(255,30,143)rgb(19,227,255)rgb(251,255,20)rgb(255,15,15));

$bg_color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 89%);