@use 'principal-fonts';
@use 'principal-sizes';
@use 'principal-colors';
@use 'principal-types-text';

.form-space{
    width: auto;
    height: auto;
    margin: 0;
    padding: 20px;
}

.label-space{
    padding: 0;
    margin: 0;
    font-weight: 200;
    margin-top: 30px;
}

.input-text{
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}

.input-space-item{
    color: principal-colors.$dark-enfasis;
    padding: 10px;
    width: 100%;
    height: 3em;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px rgba($color: principal-colors.$deep-enfasis, $alpha: 0.5) solid;;
}

.input-space-group{
    padding: 0px;
    color: principal-colors.$basic-enfasis;
    height: 2.5em;
    background-color: principal-colors.$sky-enfasis;
    margin: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px rgba($color: principal-colors.$deep-enfasis, $alpha: 0.5) solid;
}
