@use 'principal-fonts';
@use 'principal-sizes';
@use 'principal-colors';
@use 'principal-types-text';

.form-space{
    width: auto;
    height: auto;
    margin: 0;
    padding: 20px;
}

.label-space{
    padding: 0;
    margin: 0;
    font-weight: 200;
    margin-top: 30px;
}

.input-text{
    padding-left: 10px;
    padding-right: 10px;
}

.input-space-item{
    color: principal-colors.$dark-enfasis;
    padding: 10px;
    width: 100%;
    height: 100%;
    padding: 5pxt;
    box-sizing: border-box;
    border: none;
}

.input-space-group{
    color: principal-colors.$basic-enfasis;
    font-size: principal-sizes.$txt-xmedium;
    height: 2.5em;
    background-color: principal-colors.$sky-enfasis;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 2px rgba($color: principal-colors.$deep-enfasis, $alpha: 0.5) solid;
}
