@charset "UTF-8";
@font-face {
  font-family: zonas;
  src: url("Resources/Cotton-Hill.ttf") format("truetype");
}
@font-face {
  font-family: componentes;
  src: url("Resources/SpaceMonoNerdFont-Regular.ttf") format("truetype");
}
@font-face {
  font-family: parrafos;
  src: url("Resources/OverpassNerdFontPropo-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: titulos;
  src: url("Resources/VictorMono-Light.ttf") format("truetype");
}
@font-face {
  font-family: deco;
  src: url("Resources/Spring Snowstorm.ttf") format("truetype");
}
*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 1.317101995;
  scroll-behavior: smooth;
}

.centered-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 300px;
  flex-wrap: wrap;
}

.btn {
  font-family: componentes;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  height: 60px;
  width: 300px;
  color: #222236;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 2px solid #222236;
  border-radius: 15px;
  z-index: 0;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  transition: all 0.3s ease;
  z-index: -1;
}

.btn_1::before {
  width: 0;
  background-color: #fbdcad;
  height: 300px;
}

.btn_1:hover {
  color: #ffffff;
}

.btn_1:hover::before {
  width: 300px;
}

.btn_2:hover {
  background-color: #fc7209;
  box-shadow: 0 0 25px #ffe359, 0 0 25px #ffe359, 0 0 25px #ffe359;
}

.btn_3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(90deg, rgb(197, 86, 222), rgb(86, 4, 145), rgb(255, 0, 0), rgb(255, 218, 9));
  background-size: 300%;
  z-index: -1;
  transition: all 0.2s ease;
}

.btn_3:hover::after {
  background-position: 100%;
  filter: blur(15px);
}

.btn_3:hover {
  color: #ffffff;
}

.btn_3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: 300%;
  background-image: linear-gradient(90deg, rgb(197, 86, 222), rgb(86, 4, 145), rgb(255, 0, 0), rgb(255, 218, 9));
  z-index: -1;
}

.btn_3:hover::before {
  background-position: 100%;
}

.btn_4::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 110%;
  left: -12%;
  top: 0;
  transform: skew(20deg, 0deg);
  background-color: #c8a48c;
  z-index: -1;
  transition: all 0.1s ease;
}

.btn_4::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: skew(20deg, 0deg);
  transition: all 0.5s ease;
  z-index: -1;
}

.btn_4:hover::after {
  background-color: #865d5d;
  transform: skew(20deg, 0deg) translateX(340px);
}

.btn_4:hover::before {
  background-color: #c8a48c;
  transform: skew(20deg, 0deg) scale(1.1);
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 #fc7209;
  }
  100% {
    box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
  }
}
.btn_pequeño {
  width: 70px;
  height: 30px;
  font-size: 10px;
}

.btn_mediano {
  width: 110px;
  height: 30px;
  font-size: 15px;
}

.btn_grande {
  width: 100%;
  height: 60px;
  font-size: 35px;
}

.btn_home {
  color: #222236;
  width: 90px;
  height: 40px;
  border: 0px;
  background-color: #e6f6f6;
}

.btn_home:hover {
  border: 3px solid #222236;
  transition: all 0.1s ease;
}

@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card_container {
  box-sizing: 228px;
  display: grid;
  row-gap: 3.5rem;
}

.container-C {
  display: grid;
  place-items: center;
  padding-block: 5rem;
  margin-inline: 1.5rem;
}

.card_descripcion {
  font-family: parrafos;
  display: block;
  font-size: 10px;
  margin-bottom: 0.25rem;
}

.card_titulo {
  text-decoration: none;
  font-family: titulos;
  font-size: 20px;
  color: hsl(0, 0%, 15%);
  margin-bottom: 10px;
}

.card_artc {
  position: relative;
  overflow: hidden;
}

.card_img {
  width: 328px;
  border-radius: 2rem;
}

.card_inf {
  width: 280px;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem 2rem;
  box-shadow: 0 10px 22px hsla(0, 0%, 0%, 0.15);
  border-radius: 2rem;
  position: absolute;
  bottom: -9rem;
  right: 0;
  left: 0;
  opacity: 0;
  margin-inline: auto;
  transition: opacity 1s 0.6s;
}

.card_artc:hover .card_inf {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card_artc:hover {
  animation: remove-overflow 2s forwards;
}

.card_artc:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card_artc:not(:hover) .card_inf {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}
@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}
@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .card_inf {
    width: 250px;
    padding: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .card_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }
  .card_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card_img {
    width: 348px;
  }
  .card_inf {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
