@use 'shadows';
@use 'border';
@use 'padding';
@use 'margin';

.shadow{
  box-shadow: shadows.$box-shadow;
}

.border{
  border-width: border.$border-width;
  border-radius: border.$border-radius;
  border-style: border.$border-style;
  border-color: border.$border-color;
}

.padding{
  padding: padding.$padding;
}

.margin{
  margin: margin.$margin;
}

.hide{
  display: shadow.$display;
}