.badge-text-uno{
    background-color: #E9D8C0;
    color: #1F2A35;
}
.badge-text-dos{
    background-color: #bC8474;
    color: #1F2A35;
}
.badge-text-tres{
    background-color: #1F2A35;
    color: #E9D8C0;
}
.badge-text-cuatro{
    background-color: #948F88;
    color: black;
}
.badge-text-cinco{
    background-color: #646C6F;
    color:#E9D8C0;
}